body {
  text-align: center;
  background-color: #242424;
  color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-body {
  min-height: 500px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  background-color: rgb(33, 175, 67);
  margin-bottom: 10px;
  padding: 10px;
}

.header-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: left;
}

.footer {
  background-color: #000000;
  margin-top: 20px;
  height: 136px;
}

.footer-title {
  padding-top: 10px;
  margin-bottom: 0px;
}

.footer-row {
  display: flex;
  flex-direction: row;
  
  margin-top: 1rem;
  padding-bottom: 10px;
}

.footer-row.icon-row {
  justify-content: space-around;
  /* border-bottom: 1px solid white; */
}

.footer-row.details-row {
  justify-content: center;
}

.footer-row.details-row, p {
  margin: 5px 10px 0px;
}

.footer-icon {
  height: 2rem;
  width: 2rem;
}

.app-link {
  color: white;
}

.app-link:hover {
  color: white;
}

.app-link:visited{
  color: white;
}

.home {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.home p {
  font-size: 18px;
  margin-bottom: 10px;
}

.inline-link {
  text-decoration: underline;
  font-weight: 600;
}

.home-page-photo {
  width: 200px;
  border: 5px solid white;
  margin: 0px auto 15px;
}

.mosaic-icon {
  margin-top: 3px;
  margin-right: 5px;
}

.auth-div {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.auth-link {
  background-color: rgb(33, 175, 67);
  color: white;
  font-size: larger;
  font-weight: 800;
  padding: 10px;
  border-radius: 5px;
}

.bold-text {
  font-weight: 800;
}

.inline-error {
  padding: 30px;
}

.green-button-link {
  color: white;
  background-color: rgb(33, 175, 67);
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}

.disclaimer-text {
  font-size: 20px;
  padding: 50px;
  margin: 20px;
  text-align: justify;
}

.faqs {
  text-align: left;
}

.question {
  margin: 10px 20px 10px;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.faq-final-note {
  margin: 30px auto;
  padding: 10px;
}

/* User Info Boxes */

.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 20px;
}

.user-stats {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.profile-image {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.user-profile-picture {
  border: 5px solid white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}

.blurb {
  width: 100%;
  text-align: justify;
  margin-top: 10px;
}

/* Playlist CSS */
.grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist-grid {
  margin: 10px 100px 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.playlist-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 270px;
  padding: 20px;
  border: 2px solid black;
  /* border-radius: 20px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: black;
  height: 375px;
}

.playlist-img {
  width: 230px;
  height: 230px;
  /* border-radius: 20px; */
  border: 2px solid black;
}

.playlist-icons, svg {
  margin: auto 10px;
}

.name-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 64px;
  overflow: hidden
}

.playlist-details {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.playlist-name {
  font-weight: 800;
}

.playlist-grid-footer-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

/* make playlists table list for phones */
/* Potential additional - make cards more like a table for smaller screens */
/* Personally, like how chrome renders this one phones so leaving this commented for now */
/* @media only screen and (max-width: 400px) {
  .playlist-img {
    width: 75px;
    height: 75px;
    border: 5px solid black;
  }

  .playlist-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    width: 200px;
    padding: 5px;
  }

  .name-wrapper {
    height: 24px;
  }

  .playlist-details {
    margin: auto;
    font-size: small;
  }
} */

/* Tool tip CSS */
/* Tooltip container */
.tooltip {
  position: relative;
  margin: 5px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.modal {
  color: #000000;
}

.modal-playlist-name {
  margin: 10px;
}